This notebook is meant to merge the data table which contains the details of the experiments and the table which contains the results scrapped from the reports geenrated by Ansys.<br>

The process mentioned above is known as Table Join.

In [1]:
import pandas as pd
import numpy as np

In [2]:
df1 = pd.read_csv("./metadata-free-free-system.csv")
df1.head()

   depth   l1    l2
0    0.0  0.0   0.0
1    0.5  6.0  11.0
2    0.5  4.0  26.0
3    0.5  8.0  44.0
4    0.5  4.0  52.0

In [3]:
df2 = pd.read_csv("../Reports/Fixed-Fixed-Scrapped-Data/Fixed-Fixed.csv")
df2.head(18)

    Index  Mode  Frequency  Max_Deflection  Average_Deflection
0     0.0   1.0     52.976          18.084              9.0351
1     0.0   2.0    145.920          17.293              9.3771
2     0.0   3.0    285.990          17.430              9.5803
3     0.0   4.0    323.400          28.366             10.8720
4     0.0   5.0    472.810          17.537              9.7190
5     0.0   6.0    489.850          17.734              9.2553
6     1.0   1.0     52.618          18.051              7.3559
7     1.0   2.0    144.890          17.276              8.1888
8     1.0   3.0    283.940          17.488              9.0011
9     1.0   4.0    322.780          28.340              9.2718
10    1.0   5.0    469.300          17.681              9.7715
11    1.0   6.0    489.230          17.727              7.6700
12    2.0   1.0     52.709          18.060              8.4753
13    2.0   2.0    145.170          17.286              9.2486
14    2.0   3.0    284.500          17.499              9.4812
15    2.0   4.0    322.860          28.342             10.3550
16    2.0   5.0    470.230          17.691              9.2448
17    2.0   6.0    489.260          17.728              8.7298

In [4]:
# Check Compatibility

print("No of Values Missing in IInd Table for Index in Table I: ", df1.shape[0] - len(set(df2["Index"])))

# Values are missed for following indices: [22, 83, 97, 122, 156]

No of Values Missing in IInd Table for Index in Table I:  5

# Transformation of Tables

In [5]:
# Transformation on Table I

df1["l1"] = 10*df1["l1"]
df1["l2"] = 10*df1["l2"]
df1[["l1", "l2"]] = df1[["l1", "l2"]].astype(int)

In [6]:
# Transformation on Table II

df2[["Index", "Mode"]] = df2[["Index", "Mode"]].astype(int)

# Joining of Table

In [7]:
result = df1.join(df2.set_index("Index"))
result.head(18)

   depth  l1   l2  Mode  Frequency  Max_Deflection  Average_Deflection
0    0.0   0    0   1.0     52.976          18.084              9.0351
0    0.0   0    0   2.0    145.920          17.293              9.3771
0    0.0   0    0   3.0    285.990          17.430              9.5803
0    0.0   0    0   4.0    323.400          28.366             10.8720
0    0.0   0    0   5.0    472.810          17.537              9.7190
0    0.0   0    0   6.0    489.850          17.734              9.2553
1    0.5  60  110   1.0     52.618          18.051              7.3559
1    0.5  60  110   2.0    144.890          17.276              8.1888
1    0.5  60  110   3.0    283.940          17.488              9.0011
1    0.5  60  110   4.0    322.780          28.340              9.2718
1    0.5  60  110   5.0    469.300          17.681              9.7715
1    0.5  60  110   6.0    489.230          17.727              7.6700
2    0.5  40  260   1.0     52.709          18.060              8.4753
2    0.5  40  260   2.0    145.170          17.286              9.2486
2    0.5  40  260   3.0    284.500          17.499              9.4812
2    0.5  40  260   4.0    322.860          28.342             10.3550
2    0.5  40  260   5.0    470.230          17.691              9.2448
2    0.5  40  260   6.0    489.260          17.728              8.7298

# Exporting the Table

In [8]:
result.to_csv("Fixed-Fixed.csv", index=False)
result.to_excel("Fixed-Fixed.xlsx", index=False)